.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
  margin-top: 100px;
}

.card {
  width: 300px; 
  margin: 20px; 
  padding: 20px;  
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; 
}

.card:hover {
  background-color: #356e89;
}

.card-img {
  width: 100%; 
  height: auto; 
  margin-bottom: 1rem;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  transition: white-space 0.5s ease; 
}

.card:hover .card-title {
  white-space: normal; 
}

.fancy-button {
  background-color: #007BFF; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.fancy-button:hover {
  background-color: #00b330; 
  transform: scale(1.05); 
}

.fancy-button:active {
  transform: scale(0.95); 
}

